header.header
    a(href='/')
        img.logo(src='/img/pwa-logo.svg' alt='pwa' width='80' height='30')

    nav.page-menu
        a.page-menu__item(href='/fm') fm native
        a.page-menu__item(href='/fm/vue') fm vue
        a.page-menu__item(href='/fm/vue-components') fm vue components
        a.page-menu__item(href='/fm/vue-ajax') fm vue ajax