@import '../mixins/css/grid';
@import '../mixins/css/product-card';

html {
    box-sizing: border-box;
    display: flex;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    color: #000;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

// Разметка

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

[v-cloak],
.collapse:not(.collapse_reversal) {
    display: none;
}

// /

a {
    color: #9e2c5f;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: #9e2c5f;
}

.text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-danger {
    background: #d93c82;
}

.bg-success {
    background: #8dc541;
}

.bg-warning {
    background: #ff8400;
}

.btn {
    align-items: center;
    background: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.2;
    outline: none;
    padding: .667rem 2.1rem;
    text-align: center;
    transition: .15s;
    user-select: none;
    vertical-align: middle;
}

.btn_block {
    width: 100%;
}

// Шапка сайта

.header {
    align-items: center;
    box-shadow: 0 0 3px #000;
    display: flex;
    padding: 8px;
}

// /

// Меню страниц

.page-menu {
    margin-left: auto;
}

.page-menu__item {
    padding: 10px;
}

// /

main {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

h1 {
    margin: 0 0 16px;
}

// Подвал сайта

.footer {
    box-shadow: 0 0 3px #000;
    padding: 8px;
}

// /

@media (hover) {
    a:hover {
        color: #673AB7;
        text-decoration: none;
    }

    .btn:hover {
        box-shadow: 0 2px 5px rgba(115, 46, 77, .2);
        color: #000;
        text-decoration: none;
    }
}