<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">

    <title>App chat</title>

    <link rel="stylesheet" href="/app.css">
    <%- block('styles') -%>

    <script defer src="/app.js"></script>
    <%- block('scripts') %>

    <link rel="icon" href="/favicon.png">
</head>
<body>
<%- body %>
</body>
</html>