<% layout('layout/main') -%>

<h1>!!!</h1>

<div class="tiles">
    <% products.forEach(product => { %>
        <div class="tile">
            <div class="product-card">
                <div class="product-card__title">
                    <a class="product-card__title-link" href="<%= product.url %>"><%= product.product_name %></a>
                </div>
            </div>
        </div>
    <% }) %>
</div>